title: Thame the Disc
url: "https://thameultimate.club"
theme: null
plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-redirect-from

collections:
  redirects:
    output: true

defaults:
  - scope:
      type: redirects
    values:
      layout: null
      sitemap: false 